:root {
  --p-font-size: 16px;
  --p-line-height: 150%;
  --p-letter-spacing: 0.5px;
  --p-font-weight: 250;

  --h1-font-size: 42px;
  --h1-line-height: 140%;
  --h1-letter-spacing: 0;
  --h1-font-weight: 400;

  --h2-font-size: 32px;
  --h2-line-height: 120%;
  --h2-letter-spacing: 2.4px;
  --h2-font-weight: 200;

  --h3-font-size: 24px;
  --h3-line-height: 120%;
  --h3-letter-spacing: 2.4px;
  --h3-font-weight: 600;

  --h4-font-size: 22px;
  --h4-line-height: 140%;
  --h4-letter-spacing: 1.92px;
  --h4-font-weight: 400;

  --h5-font-size: 18px;
  --h5-line-height: 140%;
  --h5-letter-spacing: 0.9px;
  --h5-font-weight: 400;

  --h6-font-size: 16px;
  --h6-line-height: 140%;
  --h6-letter-spacing: 0.5px;
  --h6-font-weight: 400;

  --button-font-size: 18px;
  --button-font-weight: 700;
  --button-letter-spacing: 1.8px;
  --button-line-height: 140%;

  --navigation-font-size: 16px;
  --navigation-font-weight: 300;
  --navigation-letter-spacing: .05em;
}