// Fraunces Variable
@font-face {
  font-family: 'Fraunces';
  font-display: swap;
  font-style: normal;
  src: url('../fonts/fraunces/fraunces.ttf') format('truetype');
}

// Fraunces Variable Italic
@font-face {
  font-family: 'Fraunces';
  font-display: swap;
  font-style: italic;
  src: url('../fonts/fraunces/fraunces-italic.ttf') format('truetype');
}

@font-face {
  font-family: 'DM Sans';
  font-display: swap;
  font-style: normal;
  src: url('../fonts/dmsans/dmsans.ttf') format('truetype');
}

// Inter 700 Bold
@font-face {
  font-family: 'DM Sans';
  font-display: swap;
  font-style: italic;
  src: url('../fonts/dmsans/dmsans-italic.ttf') format('truetype');
}

:root {
  --headline-font-family: 'Public Sans', sans-serif;
  --subline-font-family: 'Inter', sans-serif;
  --base-font-family: 'Public Sans', sans-serif;
  --button-font-family: 'Inter', sans-serif;
  --navigation-font-family: 'Inter', sans-serif;
}