:root {
  --inner-spacing-sm: 0.5rem;
  --inner-spacing-md: 1rem;
  --inner-spacing-lg: 1.5rem;
  --inner-spacing-xl: 2rem;

  --outer-spacing-sm: 1.25rem;
  --outer-spacing-md: 2.5rem;
  --outer-spacing-lg: 3.75rem;
  --outer-spacing-xl: 5rem;

  --module-spacing: 1.5rem;

  --text-padding-x: 1rem;
  --text-padding-y: 1rem;

  --container-padding-x: 0rem;
  --container-padding-y: 0rem;

  --border-radius-sm: .15rem;
  --border-radius-md: .25rem;
  --border-radius-lg: .5rem;

  // Shadows

  --shadow-color: 0deg 0% 0%;
  --shadow-elevation-low:
    0.2px 0.2px 0.4px hsl(var(--shadow-color) / 0.02),
    0.6px 0.8px 1.4px -0.4px hsl(var(--shadow-color) / 0.12);
  --shadow-elevation-medium:
    0.2px 0.2px 0.4px hsl(var(--shadow-color) / 0.03),
    3.1px 4.1px 7.4px -0.4px hsl(var(--shadow-color) / 0.17);
  --shadow-elevation-high:
    0.2px 0.2px 0.4px hsl(var(--shadow-color) / 0.03),
    2.8px 3.6px 6.5px -0.1px hsl(var(--shadow-color) / 0.09),
    6.3px 8.3px 14.9px -0.3px hsl(var(--shadow-color) / 0.16),
    13.9px 18.3px 32.9px -0.4px hsl(var(--shadow-color) / 0.23);


  --shadow-bottom-elevation-low:
    0px -0.6px 0.9px hsl(var(--shadow-color) / 0.02),
    0px -2.1px 3px -0.4px hsl(var(--shadow-color) / 0.12);
  --shadow-bottom-elevation-medium:
    0px -0.6px 0.9px hsl(var(--shadow-color) / 0.03),
    -0.2px -10.7px 15.3px -0.4px hsl(var(--shadow-color) / 0.17);
  --shadow-bottom-elevation-high:
    0px -0.6px 0.9px hsl(var(--shadow-color) / 0.03),
    -0.2px -9.5px 13.6px -0.1px hsl(var(--shadow-color) / 0.09),
    -0.4px -21.6px 30.9px -0.3px hsl(var(--shadow-color) / 0.16),
    -0.8px -47.5px 68.1px -0.4px hsl(var(--shadow-color) / 0.23);
}

@include device-size($device: 'tablet') {
  :root {
    --inner-spacing-sm: 1rem;
    --inner-spacing-md: 1.5rem;
    --inner-spacing-lg: 2rem;
    --inner-spacing-xl: 3rem;

    --outer-spacing-sm: 2.5rem;
    --outer-spacing-md: 5rem;
    --outer-spacing-lg: 7.5rem;
    --outer-spacing-xl: 10rem;

    --module-spacing: 5rem;

    --text-padding-x: 2rem;
    --text-padding-y: 2rem;

    --container-padding-x: 2rem;
    --container-padding-y: 2rem;
  }
}

@include device-size($device: 'desktop') {
  :root {
    --text-padding-x: 3rem;
    --text-padding-y: 3rem;
  }
}
